@font-face {
  font-family: 'lifehackmedium';
  src: url("lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

.visuallyhidden:not(:fokus) :not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: insert(100%);
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 0; }

.maincontent {
  height: 100%;
  width: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: black 0, 0, 0, 0, 31;
  min-width: 940px;
  min-height: 650px; }

.hero {
  background: url("/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: fixed; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.best {
  background: black; }
