.hero {
  background: url('/hero_bg.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: fixed;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.best {
  background: black;
}