@font-face {
    font-family: 'lifehackmedium';
    src: url('lifehack_medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gagalinregular';
    src: url('gagalin-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-b-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-medium-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu';
    src: url('ubuntu-regular-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}